

<!doctype html>
<html>
	<title> KDTREE-KNN Query Netflix Movies </title>
	<script src="{{ url_for('static', filename='lib/jquery-3.6.0.min.js') }}"></script> 	
	<script src="{{ url_for('static', filename='lib/p5.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
	<script src="{{ url_for('static', filename='js/kdtree_new.js') }}"></script>
	<script src="{{ url_for('static', filename='js/controller.js') }}"></script>

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

	<body>
		<form method="post">
			<label for="searchmovie">Ingrese Nombre de Pelicula</label>
			<input name="searchmovie" id="searchmovie" required>
			<input type="submit" value="Buscar Pelicula">
		</form>
		<div class=page>
			<h1> Muestra de Datos </h1>
			{{ table|safe }}
		</div>
	</body>
</html>
